*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 201, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: violet;
    width: 100vw;
    height: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight:bolder;
   
}
#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10%;
    padding: 1%;
    color: violet;
    font-size: x-large;
}

#frase{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 100vw;
}

#commentbox{
    width: 70vw;
    height: 30vh;
    background-color:rgb(210, 162, 255);
    margin: 2%;
}
#submit{
    width: 10vw;
    height: 3vw;
    align-items: end;
}
#caracteres{
    position: relative;
    left: 30%;
    margin-bottom: 0.5%;
}
#usuario{
    background-color: rgb(230, 186, 250);
    position: relative;
    right: 31%;
    height: 30px;
    margin-top: 2%;
}

#cajadecom{
    display: flex;
    align-items: center;
    justify-content: center;
}

 #comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 65%;
    border-radius: 10px;
  
} 

.comentario{
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 0.4%;
    word-wrap: break-word;
    white-space: normal;
    /* background-color: aqua; */
}
.fecha{
    margin: 2%;
}
.botonEliminar{
 margin: 2%;
 background-color: rgb(246, 77, 77);
 height: 10%;
    
}

#contador{
    margin-left: 18%;
    font-size: 130%;
    color: slateblue;
}

.contenedor_com{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0.5%;
}
